<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />
    <uses-feature android:name="android.hardware.vulkan.level" android:version="0" android:required="false" />
    <application android:label="@string/gpuix_app_name" android:icon="@mipmap/ic_launcher"
        android:allowBackup="false" android:usesCleartextTraffic="false"
        android:hardwareAccelerated="true" android:theme="@style/GpuiTheme">
        <activity android:name="dev.gpui.mobile.GpuiActivity" android:exported="true"
            android:launchMode="singleTask" android:theme="@style/GpuiSplashTheme"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|keyboard|navigation|uiMode|density"
            android:windowSoftInputMode="adjustResize">
            <meta-data android:name="android.app.lib_name" android:value="gpuix_android" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
